# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\php_project\mqtt_server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
